${jsonencode({
  Version = "2012-10-17"
  Statement = [
    {
      Sid: "AllowPublicRead",
      Effect: "Allow",
      Principal: {
        AWS: "*"
      },
      Action: "s3:GetObject",
      Resource: [
        "${s3_bucket_arn}",
        "${s3_bucket_arn}/*",
      ],
      Condition: {
        StringEquals: {
          "aws:UserAgent": "${user_agent}"
        }
      }
    }
  ]
})}
