# Install direnv https://direnv.net/docs/installation.html
# Add file to whitelist at $HOME/.config/direnv/direnv.toml:
# [whitelist]
# exact = [ '/path/to/.envrc' ]
export FLY_API_TOKEN=$(fly auth token)
export CLOUDFLARE_API_TOKEN=$(bw get password 'cloudflare skladis token')
export TF_VAR_api_postgres_password=$(bw get password 'skladis prod - pg pass')
export TF_VAR_api_app_postgres_password=$(bw get password 'skladis prod - pg user pass')
export TF_VAR_api_rails_master_key=$(bw get password 'skladis prod - rails master key')
export TF_VAR_s3_signing_key_pair_private_key=$(bw get notes 'static.skladis.com - signing key')
export TF_VAR_api_smtp_username=$(bw get username 'skladis prod - smtp')
export TF_VAR_api_smtp_password=$(bw get password 'skladis prod - smtp')
