RAILS_MASTER_KEY="abc123"
POSTGRES_PASSWORD="pass123"
POSTGRES_SKLADIS_PASSWORD="pass123"
SMTP_USERNAME="smtp_user"
SMTP_PASSWORD="smtp_password"
S3_ACCESS_KEY="s3_access_key"
S3_SECRET_KEY="s3_secret_key"
S3_REGION="s3_region"
S3_BUCKET="s3_bucket_name"
TIMEZONE="Europe/Bratislava"
S3_SIGNING_KEY_PAIR_ID="123"
S3_SIGNING_PRIVATE_KEY="321"